{% extends 'base.html.twig' %}

{% block title %}
	{{ current_page | trans }}
	-
	{{ app.request.locale | capitalize }}
{% endblock %}

{% block body %}
	<p>Current locale:
		{{ _locale }}</p>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<h1>{{ current_page | trans }}</h1>
			</div>
		</div>
	</div>
{% endblock %}


